/EjercicioREST/nbproject/private/
/EjercicioREST/EjercicioREST-war/nbproject/private/
/EjercicioREST/EjercicioREST-ejb/nbproject/private/
/EjercicioREST/EjercicioREST-ejb/build/
/EjercicioREST/dist/
/EjercicioREST/build/
/EjercicioREST/EjercicioREST-ejb/dist/
/EjercicioREST/EjercicioREST-war/dist/
/EjercicioREST/EjercicioREST-war/build/
/Facultad/nbproject/private/
/Facultad/Facultad-war/nbproject/private/
/Facultad/Facultad-ejb/nbproject/private/
/Facultad/Facultad-ejb/build/
/Facultad/Facultad-ejb/dist/
/Facultad/Facultad-war/build/
/Facultad/dist/
/Facultad/build/
/Facultad/Facultad-war/dist/